option_settings:
  # Backend Encryption Policy
  aws:elb:policies:backendencryption:
    PublicKeyPolicyNames: backendkey
    InstancePorts:  443
  # Public Key Policy
  aws:elb:policies:backendkey:
    PublicKey: |
      -----BEGIN CERTIFICATE-----
			MIIFRjCCBC6gAwIBAgISA7Fh07IksIMTCh9Dn9KTIQQ3MA0GCSqGSIb3DQEBCwUA
			MDIxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MQswCQYDVQQD
			EwJSMzAeFw0yMTAxMDExNDA5MTJaFw0yMTA0MDExNDA5MTJaMCExHzAdBgNVBAMT
			Fnd3dy5ibG9nLmtvZGVmcmVzaC5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAw
			ggEKAoIBAQClr9bEfEX//pgfgI7CpNBhtHSWAZn1CRZpOAmovkzy+ESzPTyQXiFd
			3lDQQiUeRoDGqns/tuPNiJXnRPPM6zKnzmGLEpN2tr59UiQStciMwAD0JNRDEDem
			qnQyRjlTwJhr3PlDEo8Z0eipZPf2FP+lBmfmjNHIRuPhFoLG+A7LgVy1QfDadf6Q
			zvM5eaDkuhhLif/xuZkjuq435UYGeTPSrbVLnob+wLUMnlyD3H4uuM7w8yqKmVKO
			CEr2lLQbzLLGF34ve65hobFJQmKPmRy4PjOXQkOvclObN49uUJ8xAvS+Xdb2FWvB
			lAXIjqhsJax+3rVLqsEFN1wJRCBwWn65AgMBAAGjggJlMIICYTAOBgNVHQ8BAf8E
			BAMCBaAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAwGA1UdEwEB/wQC
			MAAwHQYDVR0OBBYEFNidOO3o2ccKsApTM39aQUp5/0WdMB8GA1UdIwQYMBaAFBQu
			sxe3WFbLrlAJQOYfr52LFMLGMFUGCCsGAQUFBwEBBEkwRzAhBggrBgEFBQcwAYYV
			aHR0cDovL3IzLm8ubGVuY3Iub3JnMCIGCCsGAQUFBzAChhZodHRwOi8vcjMuaS5s
			ZW5jci5vcmcvMDUGA1UdEQQuMCyCEmJsb2cua29kZWZyZXNoLmNvbYIWd3d3LmJs
			b2cua29kZWZyZXNoLmNvbTBMBgNVHSAERTBDMAgGBmeBDAECATA3BgsrBgEEAYLf
			EwEBATAoMCYGCCsGAQUFBwIBFhpodHRwOi8vY3BzLmxldHNlbmNyeXB0Lm9yZzCC
			AQQGCisGAQQB1nkCBAIEgfUEgfIA8AB2AESUZS6w7s6vxEAH2Kj+KMDa5oK+2Msx
			tT/TM5a1toGoAAABdr5+2IAAAAQDAEcwRQIgKGnFhGXoLlI8Tm5J0XjRwcsWUAub
			Ye2aN9BoleyV9kMCIQDnJ4TgGtbOWp5P0q/T9eh4E2s0Tp2s3y7bicNnMpHlagB2
			AH0+8viP/4hVaCTCwMqeUol5K8UOeAl/LmqXaJl+IvDXAAABdr5+2SMAAAQDAEcw
			RQIgN1dmG85QVdplIH64iNlTZONHuVvs2LfWvyMLH4k6Go4CIQCOfBoqomoJYSfR
			0j/rAbU3AAdwUHkkLPfarrbc+0xX/jANBgkqhkiG9w0BAQsFAAOCAQEAHUSOpI2l
			4ts0urBEEQfG69IV85DYSnihVo3cvmxPNGL3JefE75aG37AEURDj/VptKO4nPdHS
			UZbCroNWmJTiTYSMSIoe6VgIf4aHqjqS8XyvUHU4RXa6n4fmWqyrNla5fDpig+Se
			HRh3WZAITcrn9FEif6NQlVvxpzjsCj1gM3ltSQCQRWCsDvs6aba4UNnyoGjnPRmJ
			bg2W/9FmP0IxpewiXozNgeoIwKCsFjk3U6YwP5+zIYf15h3GF7+UG7Rgzy0ZFanm
			6nA/K7ynUeDiR24dABn3j1Pg47s2GKEaEbWNQMMCHC5zILGamdCVZD8koW65tFTe
			ZsyZEWyeLJGAOQ==
			-----END CERTIFICATE-----